apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- storage.yaml
- network.yaml
- db.spec.yaml
images:
- name: ghcr.io/home-assistant/home-assistant
  newTag: 2026.2.1
