apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: kopia
  name: kopia-toad
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kopia
  template:
    metadata:
      labels:
        app: kopia
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - toad
      automountServiceAccountToken: false
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: kopia-config
        - name: tmp
          emptyDir:
            medium: Memory
            sizeLimit: 1G
        - name: cache
          emptyDir:
            medium: Memory
            sizeLimit: 512Mi
        - name: repository
          hostPath:
            path: /mnt/backups
      containers:
        - image: kopia/kopia:latest
          name: kopia
          volumeMounts:
            - mountPath: "/app/config"
              name: config
              subpath: config
            - mountPath: "/app/logs"
              name: config
              subpath: logs
            - mountPath: "/app/cache"
              name: cache
            - mountPath: "/tmp"
              name: tmp
            - mountPath: "/repository"
              name: repository
